{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off",
    "import/prefer-default-export": "off",
    "line-break-style": 0
  }
}
