#page-post {
  .post-content {
    a {
      background: linear-gradient(to bottom, $palette-6 0%, $palette-6 100%)
        repeat-x 0 100%;
      background-size: 4px 4px;
      color: $black;
      transition: background-size 0.4s, color 0.4s;

      &:hover {
        background-size: 4px 50px;
        color: $black;
      }
    }
  }

  .post-header {
    h1 {
      margin-bottom: 0.5rem;
    }
    .post-subtitle {
      display: flex;
      flex-flow: row wrap;
      font-size: 12px;
      margin-bottom: 14px;
      color: $light-black;
      > div:not(:last-child) {
        margin-right: 1rem;
      }
      @mixin post-subtitle-link {
        a {
          color: $light-black;
          &:hover {
            color: $black;
          }
        }
      }
      .post-subtitle-tags {
        .post-subtitle-tag {
          &:not(:last-child) {
            margin-right: 0.3rem;
          }
          @include post-subtitle-link;
        }
      }
      .post-subtitle-category {
        @include post-subtitle-link;
      }
      .post-subtitle-icon {
        margin-right: 0.3rem;
        transform: translateY(2px);
      }
    }
    margin-bottom: 1rem;
  }
}
